/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -170px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	margin-top: 10px;
	height: 160px;
}
#footer {
	background-color: #fedfcd;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	}
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
padding-top: 140px;
}
.container .credit {
margin: 20px 0;
}

code {
font-size: 80%;
}

.navbar-inverse .navbar-inner {
	/*background-color: #fedfcd;*/
	background-color: transparent;
	background-image: url(../images/p2bheadbg.png);
	background-repeat: repeat-x;
	border-bottom: none;
	box-shadow:none;
}

.navbar-inverse .nav .active > a, 
.navbar-inverse .nav .active > a:hover, 
.navbar-inverse .nav .active > a:focus {
	background-color: transparent;
	border-bottom: 3px solid red;
}

.navbar .brand {
	padding: 0px;
	margin: 0px;
	width:267px;
}

img.mixmatch{
	margin-bottom: 50px;
}
.navmainp2b{
	float: right;
	width:663px;
	margin-top: 26px;
}
.navbar-inverse .navmainp2b .nav > li > a{
	font-size: 14px;
	padding:5px 10px 0px;
	color: #1f271a;

}
.navbar-inverse .navmainp2b .nav > li > a:hover{
	border-bottom: 3px solid #c16151;
}

legend{
	border: none;
	padding-left: 30px;
	background-image: url(../images/legendbullet.png);
	background-repeat: no-repeat;
	line-height: 24px;
	font-size: 18px;
}


body{
	font-family: calibri,helvetica,sans-serif;
}

#footer .container{
	padding-top: 10px;
}
#footer .container p{
	text-align: center;
}


