/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	font-family: 'proxima_nova_rgregular';
	/* The html and body elements cannot have any padding or margin. */
}

h1,h2,h3,h4,h5,h6,p,li{
	font-family: 'proxima_nova_rgregular';
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -160px;
}
.clearfix:after
{
	content:".";
	display:none;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix
{display:inline-block;}
.clear{
	margin: 0;
	padding: 0;
	clear: both;
}
/* Set the fixed height of the footer here */
#push{
	height:280px;
}


#footer {
	margin-top: 10px;
	height: 160px;
}

#footer {
	background-color: #fedfcd;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	}
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
padding-top: 140px;
}
.container .credit {
margin: 20px 0;
}

code {
font-size: 80%;
}

.navbar-inverse .navbar-inner {
	/*background-color: #fedfcd;*/
	background-color: transparent;
	background-image: url(../images/p2bheadbg.png);
	background-repeat: repeat-x;
	border-bottom: none;
	box-shadow: 0px 0px 0px 0px #fff;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
	background-color: transparent;
	border-bottom: 3px solid red;
}

.navbar .brand {
	padding: 0px;
	margin: 0px;
	width:267px;
}

img.mixmatch{
	margin-bottom: 50px;
}
.navmainp2b{
	float: right;
	width:670px;
	margin-top: 1px;
}
.navbar-inverse .navmainp2b .nav > li > a{
	font-size: 12px;
	padding:5px 10px 0px;
	color: #1f271a;

}
.navbar-inverse .navmainp2b .nav > li > a:hover{
	border-bottom: 3px solid #c16151;
}

.navbar-inverse .navmainp2b .nav > li > a.active{
	border-bottom: 3px solid #c16151;
}

legend{
	border: none;
	padding-left: 30px;
	background-image: url(../images/legendbullet.png);
	background-repeat: no-repeat;
	line-height: 24px;
	font-size: 18px;
}


body{
	font-family: RobotoRegular,calibri,helvetica,sans-serif;
}

#footer .container{
	padding-top: 10px;
}
#footer .container p{
	text-align: center;
}

.articlesetionhome{
	margin-top: 20px;
	float: left;
}
.articlesetionhome .titlehome{
	background-color: #c36353;
	color: #fff;
	padding:2px 6px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
}

#logged-in{
	position:relative;
	text-align: right;
	height: 24px;
}

#createcart{
	text-decoration: none;
	color: blue;
	cursor: pointer;
}
.detailproduct{
	border: 1px solid #8b8b8b;
	padding: 10px 20px;
}

.fblike{
	display: inline-block;

}
.loves{
	display: inline-block;
	margin-left: 20px;
}
.availablecont{
	margin-top: 20px;
}
.coloravailableselect{
	display: inline-block;
	width: 40px;
	height: 40px;
}
.detailproduct h3, h3.recommendation{
	color:#1a3059;
	font-size: 15px;
}
.titlesection{
	color:#1a3059;
	font-weight: bold;
}
.titlesectionnormal{
color:#1a3059;
}
.red{
	background-color: red;
}
.black{
	background-color: black;
}
.blue{
	background-color: blue;
}
.titleselectbox{
	color:#1a3059;
	font-weight: bold;
}
.optionselectproduct{
	float: left;
	display: block;
	width: 579px;
	margin-top: 15px;
}
.selectsize{
	width: 170px;
	display: inline-block;
	float:left;
	margin-left: 10px;
}
.statcomment{
	margin-top: 15px;
}
.commentlisttitle{
	background-color: #e4e2e3;
	color: #676767;
	padding:10px 15px;
}
.addimages{
	margin-left: 40px;
}
.commentlist td{
	padding:10px;

}
.commentlist tr{
	border-bottom: 1px solid #dfdfdf;
	margin: 0;
}

.commentlist{
	border: 1px solid #000;
	margin-top: 20px;
}
.commentlist h4{
	margin: 0;
}

td.userinfo{
	background-color: #f0f0f0;
	padding-left: 20px;
}

.otherproducts,.addimages{
	margin:0 auto;
	text-align: center;
}
.otherproducts{
	margin-top: 30px;
	margin-bottom: 50px;
}
.otherproducts h3{
	text-align: left;
}
.otherproducts a{
	margin-left: 20px;
}
.statcomment a,.addimages img{
	margin-left: 20px;
}


.product-title i{
	font-weight: normal;
	font-size: 27px;
	font-style: normal;
}
table.shoppingcart{
	border: 1px solid #000;
}
table.shoppingcart td.image{
	text-align: center;
}
table.shoppingcart td.image img{
	border: 1px solid #aeaeae;
}
table.shoppingcart tr{
border-bottom: 1px solid #e0e0e0;
display: block;
padding: 10px 0;
}
table.shoppingcart td,table.shoppingcart th{
	text-align: left;
}

.select2-container{
	margin-left: 0;
}
table.shoppingcart tr.headshoppingcart{
	background-color: #eceaeb;
	padding: 10px;
}
table.shoppingcart td{
	padding:9px;
}
.paymentmethod{
	margin-top: 25px;
	margin-bottom: 50px;
}
.paymentmethod h4{
	color:#1a3059;
}
.method3{
	text-align: right;
}
.method3 h4{
	display: inline-block;
	font-size: 15px;
}
a.checkoutnow{
	display: block;
	background: transparent url(../images/checkout-btn.png) no-repeat;
	width: 145px;
	height: 41px;
	float: right;
	text-indent: -9999999px;
	margin-bottom: 10px;
}
a.continueshopping{
	display: block;
	background: transparent url(../images/continue-shop.png) no-repeat;
	width: 145px;
	height: 41px;
	float: right;
	text-indent: -9999999px;
}
.buttonshopcart{
	display: block;
	float: right;
}
.productlist{
	margin-bottom: 40px;
	text-align: center;

}

.productlist .productpanel{
	width:230px;
	margin:2px;
	float:left;
	display: block;
	min-height: 320px;
	margin-bottom: 10px;
}

.productlist .productpanel h3{
	font-size: 18px;
	margin:15px 0 0 0;
	color: #1a3059;
	line-height: 20px;
}
.productlist .productpanel p{
	margin: 0;
}

.color-chip{
	display: block;
	padding:4px;
	/*width:25px;*/
    border:thin solid #ccc;
}

.qty-box {
	width: 35px;
}

table.var-box{
	width:100%;
}

table.var-box tr{
	border: none;
}

table.var-box td{
	vertical-align: middle;
	padding: 4px;
	border: none;
}

table#shoppingcart th{
	text-align: center;
}

table#shoppingcart td{
	padding-top: 15px;
	vertical-align: top;
}

table#shoppingcart tr{
	border-bottom: thin solid #ddd;
}

table#shoppingcart td.price{
	text-align: right;
}

table#shoppingcart thead{
	border-bottom: thin solid #ccc;
	margin-bottom: 25px;
}

table#shoppingcart h5{
	margin: 0px;
}

.removebox{
	vertical-align: middle;
	text-align: center;
}

.central{
	text-align: center;
}

.price h4{
	margin-top: 0px;
	padding-top: 0px;
}

.price{
	padding: 0px;
	margin: 0px;
}

input.total-prices, .subtotal{
	text-align: right;
}

.big-code{
	font-size: 24px;
	font-weight: bold;
	color:blue;
	text-align: center;
}

.simplecolorpicker div{
    border: 1px dotted #222;
}

.simplecolorpicker div:hover, .simplecolorpicker div.selected{
    border: 2px solid #F5C1AC;
}

.container#home, .container#main-head{
	width:1037px;
}

.styled-select{
	display: block;
	border: 2px solid #cccccc;
	padding: 0px;
	height:27px;
	margin-top: 20px;
	background: url(../images/dk_arrows.png) no-repeat 95% 50% #fff;
}

.styled-select select{
	margin:0px;
	margin-left: 2px;
	background: transparent;
	font-size: 11px;
	line-height: 1em;
	height: 24px;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

p.social-footer i{
	font-size: 28px;
	padding-right: 20px;
}

span#shopping-badge{
	color:white;
	background-color: maroon;
	padding: 4px;
}

